---
import MainLayout from "../layouts/MainLayout.astro"
import Layout2 from "../layouts/Layout2.astro"
import Rows from "../components/Rows.astro"
import ProjectCard from "../components/ProjectCard.astro";
import Title from "../components/Title.astro";
import { splitImages } from "../utils/functions.js";
import { getData } from "../utils/crud";
const {api} = Astro.locals;  
const projects = await getData(api+"?model=project&getAll=true");
---

<MainLayout>
    <Layout2>
        <div style="background:rgba(255,255,255,0.8)" class="flex flex-col max-w-[2000px] justify-self-center gap-2 w-screen py-20 px-5 md:px-40">
            <Title title="Projects" />
            <div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3'>
                {projects.map((project:any, index:number) => (
                    <ProjectCard 
                        title={project.title} 
                        image={project.img} 
                        description={project.description}
                        id={project._id}
                        />
                ))}
                 
        </div>
        </div>

    </Layout2>
</MainLayout>